*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to right, rgb(4, 9, 59), rgb(19, 27, 139), rgb(4, 9, 59));
}
form{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgba(245, 245, 248, 0.3);
    padding: 20px 25px;
    box-shadow: 0 5px 10px black;
    border-radius: 10px;
}
h1{
    text-align: center;
    margin-bottom: 50px;
    font-size: 60px;
    color: white;
}
form label{
    margin-bottom: 25px;
}
form label .fa-solid{
    color: rgb(5, 12, 78);
    margin-right: 5px;
}
input{
    outline: none;
    border: none;
    color: black;
    background-color: transparent;
    border-bottom: solid 1px rgb(5, 12, 78);
    padding: 0 5px;
    font-size: 18px;
}
form button{
    color: white;
    border: none;
    background-color: rgb(5, 12, 78);
    padding: 10px 15px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 10px;
}
form label input::placeholder{
    color: rgb(255, 255, 255, 0.4);
}
