*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: rgb(255, 255, 255);
    transition: .7s;
}
body.dark{
    background: rgb(4, 9, 59);
}
h1 a{
    text-decoration-line: none;
    color: black;
    transition: .7s;
}
body.dark h1 a{
    color: white;
}
.gallery{
    width: 80%;
    margin: 50px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: 30px;
}
.gallery img{
    cursor: pointer;
    height: 250px;
    width: 333px;
    border-radius: 10px;
    margin-left: 13px;
    margin-top: 13px;
    box-shadow: 0 5px 10px black;
}

.ful-img{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 99;
}
.ful-img span{
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color: white;
    cursor: pointer;
}
.ful-img img{
    width: 90%;
    max-width: 700px;
    border-radius: 10px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-nav{
    margin-top: 20px;
    padding: 20px;
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: white;
    box-shadow: 0 5px 10px black;
    border-radius: 10px;
    transition: .9s;
}
body.dark .container-nav{
    background: #222222;
    box-shadow: 0 5px 10px rgb(39, 133, 221);
}
.enlaces a{
    text-decoration-line: none;
    margin-left: 10px;
    margin-right: 10px;
    color: rgb(87, 86, 86);
    font-size: 20px;
    transition: .7s;
}
body.dark .enlaces a{
    color: white;
    transition: .7s;
}
.enlaces a:hover{
    font-size: 25px;
    color: black;
}
body.dark .enlaces a:hover{
    color: rgb(39, 133, 221);
}
.switch{
  background: #343D5B;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
}
.switch span{
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: white;
}
.switch::after{
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #f1f1f1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 1000px;
    transition: .3s ease all;
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, .2);
}
.switch.active{
    background: orange;
    color: black;
}
.switch.active::after{
    right: 0;
    left: unset;
}
article{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor-parrafos{
    width: 1000px;
    margin-bottom: 40px;
}
.parrafo-img{
    background: lightgrey;
    padding: 20px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 0 5px 10px black;
    display: flex;
    align-items: center;
    transition: .7s;
}
body.dark .parrafo-img{
    background-color: #4d4c4c;
    box-shadow: 0 5px 10px rgb(39, 133, 221);
}
.parrafo-izquierda{
    background: #a6a7a8;
    margin-right: 150px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 10px;
    font-size: 19px;
}
.parrafo-derecha{
    background: #a6a7a8;
    margin-left: 150px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 10px;
    font-size: 19px;
}
.img-home img{
    width: 300px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 5px 10px black;
}
.contenedor-img-guardado{
    background: lightgrey;
    height: 300px;
    box-shadow: 0 8px 15px black;
    border-radius: 10px;
    transition: 1s;
    
}
.contenedor-img-guardado:hover{
    transform: scale(1.1);
}
body.dark .contenedor-img-guardado{
    background: #4d4c4c;
    box-shadow: 0 8px 15px rgb(39, 133, 221);
}
.save{
    margin-right: 20px;
    margin-top: 10px;
    display: flex;
    justify-content: end;
}
.saved{
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.fa-solid:hover{
    transform: scale(1.2);
}
.contenedor-img-guardado {
    text-align: center;
   
}
.imgFav {
    display: block; 
    margin: 0 auto;
    margin-bottom: 10px;
}
.username {
    margin-top: 10px; 
}
.agregarImg{
    border-radius: 5px;
    padding: 4px;
    margin-right: 8px;
    cursor: pointer;
    background: lightgrey;
    transition: .7s;
}
.agregarImg:hover{
    padding: 5px;
    font-size: 15px;
    box-shadow: 0 8px 15px black;
}

body.dark .agregarImg{
    color: white;
    background: #4d4c4c;
}

body.dark .agregarImg:hover{
    box-shadow: 0 8px 15px rgb(39, 133, 221);
}